TRONGRID_API_KEY=
TRONSCAN_API_KEY=
COINGECKO=
CHANGENOW_API_KEY=

Fixed_Float_API_KEY=
Fixed_Float_API_KEY_SECRET=

ETHERSCAN_API_KEY=
BSCSCAN_API_KEY=
POLYGONSCAN_API_KEY=
ARBISCAN_API_KEY=
BASESCAN_API_KEY=
OPTIMISTIC_ETHERSCAN_API_KEY=
SNOWTRACE_API_KEY=

contract_address=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t

fixedfloat_hot_wallet=
changenow_hot_wallet=
sideshift_hot_wallet=

SIDESHIFT_HOT_WALLETS_ETHEREUM=
SIDESHIFT_HOT_WALLETS_BSC=
SIDESHIFT_HOT_WALLETS_POLYGON=
SIDESHIFT_HOT_WALLETS_ARBITRUM=
SIDESHIFT_HOT_WALLETS_BASE=
SIDESHIFT_HOT_WALLETS_SOLANA=
